<component name="ArtifactManager">
  <artifact type="war" name="SpringHibernateRestApp:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-hibernate-rest.war">
      <element id="artifact" artifact-name="SpringHibernateRestApp:war exploded" />
    </root>
  </artifact>
</component>